/*

Indholdsfortegnelse:


1.          Body (generelle indstillinger på siden - font, baggrundsbillede, margin)
2.          A2 class (design og placering på knap til webshop)
3.          Span (de sidste indstillinger til knap)
4.          Keyframes (Bruges til animationen på knappen)
5.          Logo class (Bruges i et div tag til at placere logoet)
6.          Paragraph (Standard indstillingerne for p tag ændres her)
7.          P1,2,3,4 classes (Indstillinger til de p tags der skal afvige fra standarden)
8.          Boks1,2,3 classes (Indstillingerne til rammerne i bunden af siden - placering og størrelse)
9.          Iframe (Indstillingerne til at få google maps til at fylde hele dens ramme)
10.         Section (Giver sections 2 grids inde i dem, så vi kan få ting ved siden af hinanden)
11.         Media - min. bredde 600px (Det første af 2 media tags - dvs. starten på tablet indstillinger)
12.         Tablet - boks1,2,3 classes (Placering af bokse ændres på tablet)
13.         Tablet - a2 class (placering af knappen til webshop ændres på tablet)
14.         Media - min. bredde 900px (Det andet af 2 media tags - dvs. starten på desktop indstillinger)
15.         Desktop - boks1,2,3 classes (Placering af bokse ændres på desktop)
16.         Desktop - a2 class (Placering af knap ændres på desktop)

----------------------------------------------------------------------------------------------------------------------


*/
/*** 1. det der skal være ens for alt inde i body tagget bliver defineret her***/
body{
  font-family: 'Montserrat', sans-serif;
	background-image: url('images/landingpage_baggrund.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin:auto;
  text-decoration: none;
}

/*** 2. Her bliver designet af knappen defineret ***/
.a2{
  position: absolute;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 18px;
  background: linear-gradient(90deg,#2b8d93,#2b8d93);
  position: absolute;
  top: 50.2%;
  left: 64.4%;
}

/*** 3. span bliver lavet her, fordi den er nem at have med at gøre i javascript. Det er i javascript vi bestemmer, hvor "span" skal bruges henne (på knappen) ***/
span{
  position: absolute;
  background:#fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

/*** 4. Vi bruger @Keyframes, fordi vi vil lave en animation der sker når du trykker på knappen. Det er så vi kan bestemme, hvad der sker på de forskellige keyframes***/
@keyframes animate{
0%
{
  width: 0px;
  height: 0px;
  opacity: 0.5;
}
100%
{
  width: 500px;
  height: 500px;
  opacity: 0;
} 
}

/*** 5. Dette id bruges til at placere logoet i toppen af siden***/
#navimg{
  text-align: center;
  padding-top:2%;
  padding-bottom: 5px;
  display: block;
}
/*** 6. ***/
p{
  color: #7a322a;
  font-weight: 100 !important;
}

/*** 7. de forskellige classes (p1,p2,p3) til at placere åbningstiderne ved siden af hinanden og (p4) definere overskrifterne i boksene***/
.p1{
  grid-column: 1/2;
  margin-top: -5%;
  text-align: center;
}
.p2{
  grid-column: 2/2;
  margin-top: -5%;
  text-align: center;
}
.p3{
  margin-top: -3%;
}
.p4{
  color:#2b8d93; 
  font-size:1.4em;
}

/*** 8. Her bliver de forskellige bokse i bunden af siden defineret, hvor vi så senere i css'en ændre de få ting der skal ændres så de passer til tablet og desktop***/
.boks1{
  height: 40%;
  width: 100%;
  background-color: rgb(255,255,255,1);
  position: absolute;
  bottom: 0%;
  left: 0%;
  text-align: center;
}

.boks2{
  height: 40%;
  width: 100%; 
  background-color: rgb(255,255,255,1);
  position: absolute;
  bottom: -40%;
  left: 0%;
  text-align: center;
}

.boks3{
  height: 30%;
  width: 100%;
  background-color: rgb(255,255,255,1);
  position: absolute;
  bottom: -70%;
  left: 0%;
  text-align: center;
}

/*** 9. Der her er til så Google maps fylder hele boksen den er placeret i ***/
iframe{
  width:100%;
  height:100%;
  border:0;
}

/*** 10. Her skaber vi det grid som åbningstiderne skal placeres i***/
section{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}

/*** 11. Alt det css imellen det nedenstående @media tag og det næste @media tag er til de ændringer der skal afvige fra mobile til tablet.***/
@media only screen and (min-width: 600px) {

/*** 12. ***/
.boks1{
  height: 35%;
  left: 15%;
  width: 70%;
  background-color: rgb(255,255,255,1);
}

.boks2{
  left: 15%;
  width: 70%;
  background-color: rgb(255,255,255,1);
}

.boks3{
  left: 15%;
  width: 70%;
  background-color: rgb(255,255,255,1);
}

/*** 13. ***/
.a2 {
  top: 50.2%;
  left: 70.4%;
}

/*** 14. Alt det css fra det nedenstående @media tag og til slutten af dokumentet er til de ændringer der skal afvige fra mobile til desktop.***/
@media only screen and (min-width: 900px) {

/*** 15. ***/
.boks1{
  height: 30%;
  width: 25%;
  bottom: 0%;
  left: 5%;
  background-color: rgb(255,255,255,0.7);
}

.boks2{
  height: 25%;
  width: 25%;
  bottom: 0%;
  left: 38%;
  background-color: rgb(255,255,255,0.7);
}

.boks3{
  height: 30%;
  width: 25%;
  bottom: 0%;
  left: 68%;       
  background-color: rgb(255,255,255,0.7);
}

/*** 16. ***/
.a2{
  top: 54.2%;
  left: 74.4%;
}

.p1{
  text-align: left;
}
.p2{
  text-align: left;
}